<div class="fressy">
    <a routerLink="/homepage">Homepage</a> 
    <a routerLink="/about">About</a>
    <a routerLink="/booking-form">Booking-form</a>
    <a routerLink="/contact">Contact</a>
     <a routerLink="/cost">Cost</a> 

  

</div>

<h1> Prices</h1>
<h2>R80 per hour</h2>
<h2>R300 per day</h2>
<h2>R150 half day</h2>




<router-outlet></router-outlet>


<img src="http://a63fad5a0a806f42a003-a0240c8823744c8916b34cecd4cf04f2.r26.cf1.rackcdn.com/lps/assets/u/Sheraton-Bratislava-Hotel_Executive-Bedroom-1600x900.jpg">
